<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.sasd97.upitter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Upitter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="upitter_base.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.github.sasd97.upitter.models" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_api_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <receiver android:name=".events.receivers.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.results.CountryCodeChooseActivity"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.CompanyFeedActivity"
            android:label="@string/title_activity_tape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CodeVerificationActivity"
            android:label="@string/title_activity_code_confirm_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CompanyRegistrationActivity"
            android:label="@string/title_activity_bussines_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.results.GalleryActivity"
            android:label="@string/title_gallery_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.schemas.GalleryAlbumPreviewActivity"
            android:label="@string/title_gallery_album_preview_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.results.EditImageActivity"
            android:label="@string/title_gallery_album_preview_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.results.CategoriesActivity"
            android:label="@string/title_categories_activity"
            android:parentActivityName=".ui.CompanyRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CompanyRegistrationActivity" />
        </activity>
        <activity
            android:name=".ui.results.MapChooseActivity"
            android:label="@string/title_map_choose_activity"
            android:parentActivityName=".ui.CompanyRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CompanyRegistrationActivity" />
        </activity>
        <activity
            android:name=".ui.schemas.ShowOnMapActivity"
            android:label="@string/title_activity_people_tape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.PostCreationActivity"
            android:label="@string/title_create_post_activity"
            android:parentActivityName=".ui.CompanyFeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CompanyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.results.QuizActivity"
            android:label="@string/quiz_label_create_post_activity"
            android:parentActivityName=".ui.CompanyFeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CompanyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.results.PostCategoriesChooseActivity"
            android:label="@string/quiz_label_create_post_activity"
            android:parentActivityName=".ui.CompanyFeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CompanyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.PeopleTapeActivity"
            android:label="@string/title_activity_people_tape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LocationSelectionActivity"
            android:label="@string/title_choose_location_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.CompanySettingsActivity"
            android:label="@string/title_activity_company_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.schemas.ShowCompanyLocationsActivity"
            android:label="@string/title_activity_show_company_locations"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.results.SocialIconsActivity"></activity>
    </application>

</manifest>